.sectionTitle h3 {
    color: var(--bg-primary-color);
    border-left: 3px solid var(--bg-primary-color);
}

.sectionTitle p {
    color: var(--font-quaternary-color);
}

.cardPhoto {
    max-height: 400px;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.carouselContainer {
    max-height: 230px;
    overflow: hidden;
    max-width: 230px;
}