/* --------------------------------------------------
 -- General --
--------------------------------------------------*/

:root {
  --bg-primary-color: #467b82;
  --bg-secondary-color: whitesmoke;
  --bg-tertiary-color: #003329;
  --bg-quaternary-color: #12464c11;
  --bg-quinary-color: #002f27;

  --font-primary-color: white;
  --font-secondary-color: #467b82;
  --font-tertiary-color: #12464c;
  --font-quaternary-color: #444444;
  --font-quinary-color: #666666;
  
  --border-primary-color: #467b82;
  --border-secondary-color: #23585e;
  --border-tertiary-color: #61adb6;

  --buttons-primary-bg-color: #356a70;
  --buttons-secondary-bg-color: #467b82;
}

body {
  /* font-family: 'Poppins', sans-serif !important; */
  background-color: var(--bg-secondary-color);
}

header {
  margin-bottom: 100px;
}

section {
  margin: 4em 0;
}

/*--------------------------------------------------
- Forms, labels and inputs general -
--------------------------------------------------*/

/* form label {
  color: var(--font-quaternary-color);
  font-size: 15px;
} */

/* input[type="email"], input[type="text"], form textarea {
  color: var(--font-quinary-color) !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  resize: none;
} */

/* .icon-40 {
  width: 40px;
  transition: background-color 300ms ease-in-out;
}

.icon-40:hover {
  background-color: rgba(218, 218, 218, 0.850);
} */

/*--------------------------------------------------
- Buttons general -
--------------------------------------------------*/

.btn-primary {
  color: var(--font-primary-color);
  background-color: var(--buttons-primary-bg-color);
  border: var(--border-secondary-color);
}

.btn-primary:hover {
  background-color: var(--buttons-secondary-bg-color);
}

.btn-outline-primary {
  transition: all 0.4s ease-in-out;
  border-color: var(--border-primary-color);
  color: var(--font-secondary-color);
}

.btn-outline-primary:hover {
  border-color: var(--border-secondary-color);
  background-color: var(--buttons-primary-bg-color);
}

/*--------------------------------------------------
 #navbar - general
--------------------------------------------------*/
.nav-item a:hover {
  color: var(--font-secondary-color);
}

.navbar-brand img {
  width: 60px;
}

.navbar-brand img:hover {
  padding: 0.1em;
}

/*  */

.card-body span {
  font-size: 0.75em;
}