/*--------------------------------------------------
 #navbar
--------------------------------------------------*/

#navbar {
    background-color: var(--bg-secondary-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-bottom: -4em;
}

#navbar a {
    color: var(--font-tertiary-color);
}

.navHelp {
    min-width: 130px;
}

.navHelp button {
    width: 40px;
}

.navHelp a:nth-child(1):hover {
    color: var(--font-secondary-color) !important;
}

.accountBox {
    transition: all 0.2s ease-in-out;
    background-color: var(--bg-quaternary-color);
    margin-top: -40px;
}

.accountBox:hover {
    margin-top: -30px;
}

.accountBox span {
    font-size: 16px;
}

.accountBox img {
    border-color: var(--font-tertiary-color) !important;
    width: 30px;
} 

.navUtilities {
    margin-left: 150px;
    order: 4;
}

@media (max-width: 991px) {
    .navHelp button {
        display: none;
    }

    .accountBox  {
        margin: 5px 0;
        padding: 0;
    }

    .navUtilities {
        margin: 0;
        order: 0;
    }
}